.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar .search-icon {
  cursor: pointer;
  font-size: 24px;
  color: white;
  padding: 10px;
}

.suggestions {
  color:black;
}

.search-input {
  position: absolute;
  top: 40px;
  right: 0;
  width: 300px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.search-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.search-bar li {
  padding: 10px;
  cursor: pointer;
}

.search-bar li:hover {
  background-color: #f0f0f0;
}
